/* app css stylesheet */

body {
    color: #f3f3f3;
}

h1 {
    font-size: 72pt;
    font-family: 'Freight Sans Bold', 'lucida grande', tahoma, verdana, arial, sans-serif;
    text-shadow: 1px 1px #005555;
}

p {
    font-size: 14pt;
}
