/* app css stylesheet */

body {
    color: #f3f3f3;
}

h1 {
    font-size: 72pt;
    font-family: 'Freight Sans Bold', 'lucida grande', tahoma, verdana, arial, sans-serif;
    text-shadow: 1px 1px #004444;
}

h2 {
    text-shadow: 1px 2px #003333;
}
